* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #0F191E;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    overflow-y: auto;
}

.required {
    color: red;
    font-weight: bold;
}

.container {
    background: white;
    border-radius: 10px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
    max-width: 650px;
    width: 100%;
    margin: 10px 0;
}

/* Gaya notifikasi error */
.error-message {
    color: #b00020;
    background-color: #f8d7da;
    border: 1px solid #f5c2c7;
    font-size: 14px;
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
    display: none; /* Tersembunyi secara default */
    display: flex;
    align-items: center;
}

.error-message i {
    margin-right: 8px;
}

.card-headers {
    display: flex;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.social-media-icons {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.social-icon {
    font-size: 21px; /* Larger size for better visibility */
    color: #333333; /* Default icon color */
    text-decoration: none; /* Removes any underline */
    transition: transform 0.2s ease, color 0.2s ease; /* Smooth transition for scaling and color change */
}

.social-icon:hover {
    transform: scale(1.1); /* Slight scaling on hover for a subtle effect */
}

/* Specific colors on hover */
.social-icon.youtube:hover {
    color: #FF0000; /* YouTube red */
}

.social-icon.instagram:hover {
    color: #C13584; /* Instagram gradient base color */
}

.social-icon.twitter:hover {
    color: #1DA1F2; /* Twitter blue */
}

.thank-you-message {
    text-align: center;
    color: #555;
    margin-bottom: 25px;
    font-size: 16px; /* Adjusted font size for more compact text */
    max-width: 80%; /* Constrains the width for better control over line breaks */
    margin-left: auto;
    margin-right: auto;
}

.contents {
    padding: 25px;
}

h1 {
    color: #333;
    text-align: center;
    margin-bottom: 10px;
    font-size: 30px;
}

.icon-container {
    position: relative;
    display: inline-block; /* Ensures the tooltip positions correctly */
    transition: transform 0.3s; /* Smooth transition for the icon */
}

.icon-container:hover {
    transform: scale(1.1); /* Slightly enlarge the icon on hover */
}

.tooltip {
    visibility: hidden;
    width: 100px; /* Width of the tooltip */
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
    color: #fff;
    text-align: center;
    border-radius: 8px;
    padding: 8px; /* Adjusted padding */
    position: absolute;
    z-index: 1;
    bottom: 100%; /* Position above the icon */
    left: 50%;
    transform: translateX(-50%); /* Center the tooltip */
    opacity: 0;
    transition: opacity 0.3s;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5); /* Shadow for depth */
    font-size: 12px; /* Smaller font size */
}

/* Pointer (tail) for the dialog box */
.tooltip::after {
    content: '';
    position: absolute;
    top: 100%; /* Position it at the bottom of the tooltip */
    left: 50%;
    margin-left: -5px; /* Center it */
    border-width: 5px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.8) transparent transparent transparent; /* Triangle color */
}

.icon-container:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.form-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.form-column {
    flex: 1;
    margin-right: 20px;
}

.form-column:last-child {
    margin-right: 0;
}

label {
    font-weight: bold;
    margin-top: 10px;
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea {
    width: 100%;
    padding: 12px;
    margin: 6px 0;
    border: 2px solid #28a745;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
}

textarea {
    height: 205px;
}

input:focus,
textarea:focus {
    border-color: #0F191E;
    outline: none;
}

button {
    padding: 12px;
    margin-top: 12px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    width: 100%;
}

button:hover {
    background-color: #218838;
}

.donation-buttons {
    display: flex;
    justify-content: space-between;
    margin: 8px 0;
    flex-wrap: wrap;
}

.donation-buttons button {
    flex: 1;
    padding: 10px;
    margin: 5px;
    background-color: #28A745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.donation-buttons button:hover{
    background-color: #218838;
    color: hsl(0, 0%, 100%);
}
.donation-buttons button.active {
    background-color: #0F191E;
    color: hsl(0, 0%, 100%);
}

.donation-buttons button.active {
    cursor: not-allowed;
}

.responsive-image {
    width: 30%;
    height: auto;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.suggestion-box {
    background-color: #f8f9fa;
    border: 2px solid #28a745;
    border-radius: 10px;
    text-align: center;
    margin-top: 30px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.suggestion-box h3 {
    color: #333;
    font-weight: bold;
}

.suggestion-box p {
    color: #555;
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 1.4;
    padding: 0 20px;
}

.suggestion-box a.telegram-link {
    display: inline-block;
    background-color: #0088cc;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    margin-bottom: 25px;
    transition: background-color 0.3s, transform 0.2s;
}

.suggestion-box a.telegram-link:hover {
    background-color: #006f9e;
    transform: scale(1.05);
}

.animated-check {
    animation: scale-up 0.5s ease-in-out;
    font-size: 20px;
    justify-content: center;
}

@keyframes scale-up {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    50% {
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(1);
    }
}

@media (max-width: 600px) {
    .form-container {
        flex-direction: column;
    }

    .form-column {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .responsive-image {
        width: 38%;
    }

    h1 {
        font-size: 25px;
    }

    button {
        font-size: 14px;
    }

    .donation-buttons button {
        font-size: 14px;
        padding: 8px;
        flex: 1 1 45%;
    }

    .card-headers {
        flex-direction: column;
        align-items: flex-start;
        text-align: flex-start;
        padding: 15px;
    }

    .logo {
        width: 50px;
        height: 50px;
        margin-right: 0;
        margin-bottom: 8px;
    }

    .logo-title {
        font-size: 18px;
    }
}
